.city-tour {
  background-image: url("../../components/map/background.jpg");
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.city-tour .components-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.city-tour .top-menu {
  width: 480px;
  background-color: white;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
  pointer-events: auto;
}

.city-tour .logo {
  width: 15%;
  margin: 16px;
}

.city-tour .logo-name {
  max-width: 85%;
  max-height: 28px;
}

.city-tour .right-options {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}

.city-tour .divider {
  width: 2px;
  height: 80%;
  background-color: #898579;
}

.city-tour .ic-menu {
  width: 32px;
  height: 32px;
  margin-left: 5%;
  margin-right: 5%;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .city-tour .top-menu {
    width: 90%;
  }

  .city-tour .divider {
    display: none;
  }
}
