.tg {
  border-collapse: collapse;
  border-spacing: 0;
}
.tg td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg .tg-cly1 {
  text-align: left;
  vertical-align: middle;
}
.tg .tg-02pm {
  background-color: #fff2cc;
  text-align: center;
  vertical-align: top;
}
.tg .tg-9bfl {
  background-color: #c9daf8;
  text-align: center;
  vertical-align: top;
}
.tg .tg-7zrl {
  text-align: left;
  vertical-align: bottom;
}
.tg .tg-8d8j {
  text-align: center;
  vertical-align: bottom;
}
.tg .tg-26d4 {
  background-color: #b6d7a8;
  text-align: center;
  vertical-align: top;
}
.tg .tg-adee {
  background-color: #ea9999;
  text-align: center;
  vertical-align: top;
}
.tg .tg-ecof {
  background-color: #f90;
  text-align: center;
  vertical-align: top;
}
.tg .tg-kwts {
  background-color: #cc4125;
  text-align: center;
  vertical-align: bottom;
}
.tg .tg-fn3j {
  background-color: #38761d;
  text-align: center;
  vertical-align: middle;
}
.tg .tg-g3cq {
  background-color: #d9ead3;
  text-align: center;
  vertical-align: top;
}
.tg .tg-rcp7 {
  background-color: #c9daf8;
  text-align: center;
  vertical-align: bottom;
}
