.iframe-container {
  max-width: 800px;
  position: relative;
}

.drive-iframe {
  width: 800px;
  height: 1500px;
}

.docs-icon-container {
  position: absolute;
  top: 64px;
  right: 32px;
  display: flex;
  align-items: center;
  font-size: 10pt;
  transition: 0.5s;
  color: transparent;
  cursor: pointer;
}

.docs-icon-container:hover {
  color: grey;
}

.docs-icon {
  width: 32px;
  height: 32px;
}

.iframe-container-alternate {
  display: none;
}

.iframe-container .ic-close {
  width: 32px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  margin: 8px;
  background-color: transparent;
}

.iframe-container-alternate .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .iframe-container {
    display: none;
  }

  .iframe-container-alternate {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: grey;
    position: relative;
  }

  .iframe-container-alternate span {
    margin: 24px;
  }

  .docs-icon {
    width: 64px;
    height: 64px;
  }

  .iframe-container-alternate .ic-close {
    width: 32px;
    height: 32px;
    margin: 8px;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
  }
}
