.modal {
  width: 720px;
  background-color: white;
  border-radius: 16px;
  transition: 0.5s;
  height: 70%;
  pointer-events: auto;
  opacity: 1;
  position: relative;
}

.modal.hidden {
  opacity: 0;
  pointer-events: none;
  height: 0;
}

.modal.ic-close {
  width: 32px;
  height: 32px;
  margin: 8px;
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
}

.modal.content {
  width: 89%;
  height: 100%;
  margin: auto;
  background-color: transparent;
  overflow: auto;
}

@media only screen and (max-width: 600px) {
  .modal {
    width: 90%;
    height: 65%;
  }
}
