.sponsor-container .card {
  display: flex;
  flex-direction: column;
}

.sponsor-container img {
  cursor: pointer;
  margin: 10px;
  padding: 5%;
  border-radius: 16px;
}

.sponsor-container h2 {
  margin-left: 8px;
}
