.modal-contents {
  overflow: auto;
}

.modal-contents h1 {
  font-size: 1.8em;
}

.modal-contents h2 {
  font-size: 1.5em;
  color: #707070;
}

.modal-contents .link {
  font-size: 1.2em;
  color: grey;
  padding: 8px 0;
}

.modal-contents .link-list {
  display: flex;
  flex-direction: column;
}

.modal-contents .times {
  font-size: 1.2em;
  color: grey;
  grid-template-columns: 33% 33% 33%;
  display: grid;
}

.modal-contents .seeOnEven3 {
  background-color: #44b83f;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  width: 100%;
  border-radius: 8px;
  border-style: none;
  height: 48px;
  margin-top: 32px;
  cursor: pointer;
}

.photo-container {
  width: 100%;
  background-color: white;
  border-radius: 16px;
  flex-direction: column;
  display: flex;
  height: 70%;
  pointer-events: auto;
  opacity: 1;
  align-items: center;
  justify-content: center;
  position: relative;
}

.photo-container .photo-frame {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.photo-container .bt-left {
  position: absolute;
  width: 32px;
  background-color: white;
  border-radius: 50%;
  padding: 16px;
  left: 16px;
  cursor: pointer;
}

.photo-container .bt-right {
  position: absolute;
  width: 32px;
  background-color: white;
  border-radius: 50%;
  padding: 16px;
  right: 16px;
  cursor: pointer;
  transform: scaleX(-1);
}

@media only screen and (max-width: 600px) {
  .photo-container {
    width: 100%;
    height: 65%;
  }

  .photo-container .bt-left {
    width: 24px;
    left: -8px;
  }

  .photo-container .bt-right {
    width: 24px;
    right: -8px;
  }
}
