.modal .content span {
  color: grey;
  font-size: 16pt;
  margin-bottom: 32px;
}

.modal .content h1 {
  font-size: 1.8em;
}

.modal .content h2 {
  font-size: 1.5em;
  color: #707070;
}

.modal .content .link-list {
  display: flex;
  flex-direction: column;
}

.modal .content .link {
  font-size: 1.2em;
  color: grey;
  padding: 8px 0;
  text-decoration: underline;
  cursor: pointer;
}

.video {
  width: 98%;
  border-radius: 16px;
  margin-bottom: 32px;
}
