.table-container {
  width: 90%;

  margin-top: 16px;
  margin-bottom: 16px;

  background-color: white;
  border-radius: 16px;

  display: flex;
  flex-direction: column;

  pointer-events: auto;
  overflow: auto;

  position: relative;
}

.table-container .ic-close {
  width: 32px;
  height: 32px;
  margin: 8px;
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  background-color: transparent;
  border-radius: 16px;
}

.table-container .table-container .filters {
  display: flex;
  flex-direction: column;
  margin: 16px;
}

.table-container .pagination {
  margin: 16px;
}

.table-wrap {
  overflow: auto;
  display: flex;
  flex-direction: column;
}

table {
  border-radius: 8px;
  margin: 16px;
  border-spacing: 0;
  /* border: 1px solid rgb(137 133 121 / 50%); */
  border-collapse: collapse;
}

th,
td {
  margin: 0;
  padding: 0.36rem;
  border-bottom: 1px solid rgb(137 133 121 / 30%);
  border-right: 1px solid rgb(137 133 121 / 30%);
}

th:last-child,
td:last-child {
  border-right: 0;
}

tr:last-child td {
  border-bottom: 0;
}

table input {
  width: 95%;
}

table a {
  color: #395b94;
  text-decoration: none;
}

table .ic-conference {
  height: 12px;
  margin-right: 4px;
}

.table-container h2 {
  font-size: 1.5em;
  color: #707070;
  align-self: center;
  text-align: center;
}

@media only screen and (max-width: 720px) {
  .table-container .ic-close {
    margin: 2px;
  }
}
