.table-container {
  width: 90%;
  height: 70%;

  background-color: white;
  border-radius: 16px;

  display: flex;
  flex-direction: row;

  pointer-events: auto;
}

.table-container .filters {
  display: flex;
  flex-direction: column;
  margin: 16px;
}
