.topmenu {
  width: 480px;
  background-color: white;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
  pointer-events: auto;
}

.topmenu .logo {
  width: 15%;
  margin: 16px;
}

.topmenu .logo-name {
  max-width: 85%;
  max-height: 28px;
}

.topmenu .right-options {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}

.topmenu .divider {
  width: 4px;
  border-radius: 2px;
  height: 70%;
  background-color: rgb(137 133 121 / 50%);
}

.topmenu .ic-menu {
  width: 32px;
  height: 32px;
  margin-left: 5%;
  margin-right: 5%;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .topmenu {
    width: 90%;
  }

  .topmenu .divider {
    display: none;
  }
}
